/** CSS STYLE **/
:root {
  --white: #fff;
  --semi-white: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 100 1000;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 100 1000;
  font-family: "Open Sans";
  font-style: italic;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-weight: 100 1000;
  font-family: Neucha;
  font-style: normal;
  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}

.bg-brown {
  background-color: var(--brown);
}

.bg-main-dark {
  background-color: var(--main-dark);
}

.bg-semi-white {
  background-color: var(--semi-white);
}

.c-blue {
  color: var(--blue);
}

.c-brown {
  color: var(--brown);
}

.c-main {
  color: var(--main);
}

.c-semi-dark {
  color: var(--semi-dark);
}

.c-custom {
  color: #d7ccc0;
}

.c-white {
  color: var(--white);
}

.h-100 {
  height: 100px;
}

.m-24 {
  margin: 24px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-190 {
  margin-top: 190px !important;
}

.mt-200 {
  margin-top: 200px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ta-left {
  text-align: left !important;
}

.tt-uppercase {
  text-transform: uppercase;
}

.w100 {
  width: 100% !important;
}

.btn {
  display: inline-block;
  padding: 11px 24px;

  color: var(--white);
  font-weight: bold;
  text-decoration: none;

  background-color: var(--main);
  cursor: pointer;
}

body {
  margin: 0;

  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1110px;
  margin: 0 auto;

  text-align: center;
}

.p-relative {
  position: relative;
}

.background::before {
  position: absolute;

  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

footer .send-form {
  position: relative;

  padding-bottom: 59px;
}

footer .send-form label {
  display: block;

  font-size: 18px;
}

footer .send-form input {
  position: absolute;
  right: 70px;
  left: 0;

  height: 20px;

  margin-top: 9px;
  padding: 15px;

  border: none;
}

footer .send-form button {
  position: absolute;
  right: 0;

  width: 70px;
  height: 50px;

  margin-top: 9px;
  padding: 0;

  background-color: var(--main);

  border: none;
}

footer .send-form button::before {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 20px;

  height: 20px;

  background-image: url("./../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);

  content: "";
}

header {
  position: relative;

  overflow: hidden;
}

header .container {
  text-align: left;
}

header img {
  position: absolute;
  top: -45px;
  right: -270px;

  height: 525px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.row > .col {
  flex: 1;
}

section:nth-child(1) p {
  margin: 30px 0;
}

section:nth-child(1) div.p-relative {
  height: 480px;
}

section:nth-child(2) a {
  display: block;

  color: black;
  text-decoration: none;
}

section:nth-child(2) a:hover,
section:nth-child(2) a:focus {
  background-color: var(--main);
  cursor: pointer;
}

section:nth-child(2) a:hover h3,
section:nth-child(2) a:focus h3 {
  color: var(--white);
}

section:nth-child(2) h2 {
  font-size: 52px;
}

section:nth-child(2) .row {
  justify-content: space-between;
}

section:nth-child(2) .col {
  flex: 0 1 auto;
  width: 350px;
  margin: 10px 0;
}

section:nth-child(2) .row:nth-child(1) .col {
  height: 323px;
}

section:nth-child(2) .row:nth-child(2) .col {
  height: 348px;
}

section:nth-child(2) .digit {
  margin-bottom: 40px;

  font: 64px/1em Neucha, sans-serif;
}

.cognitive-iskazheniya {
  margin: 0;

  font: 24px/1em Neucha, sans-serif;
}

.cognitive-iskazheniya-sub-header {
  margin: 0;
  padding: 0;

  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.p-with-padding {
  margin: 0;
  padding: 5px 10px;
}

.img-middle {
  vertical-align: middle;
}

.with-shadow {
  display: absolute;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.kak-proyavlyaetsya {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
